#header{ display: flex;
  text-align: center;
  justify-content: end;
  background-color: black;
  color:  #fff;
  width: 100%;
}

#lista{ display: flex;
  margin-right: 1em;
  gap: 15px;
  list-style: none;
}

#lista li a{
  text-decoration: none;
  color: #fff;
}

#lista li a:hover {
  color: rgb(223, 80, 80);
}