.contatos {
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icones {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 1rem;
}

.icone {
    
    font-size: 3rem;
    color: var(--red);
    transition: transform 0.3s ease-in-out;
}

.icone:hover{
  transform: scale(1.25);
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}